body {
  margin: 0px;
  background-color: #dddddd;
}

.noscroll {
  overflow: hidden;
}

.cursor {
  cursor: pointer;
}

/* ---------------- */
/* Auth             */
/* ---------------- */
.authButtonContainer {
    /* position: absolute; */
    /* top: 40%; */
    /* transform: translate(0, -60%); */
    transform: translate(0, -50%);
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.authLink {
    color: black;
    text-decoration: none;
}

.authButton {
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px 10px;
    color: black;
    cursor: pointer;
    background-color: white;
}

.authButtonP {
  width: 90%;
  text-align: center;
}

.connect {
  background-image: url('../public/connect_with_strava.png');
  width: 225px;
  height: 35px;
}
/* ---------------- */


.stravaLogoLandingContainer {
  position: absolute;
  bottom: 2%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.stravaLogoLanding {
  width: 40%;
  max-width: 175px;
}


/* ---------------- */
/* main element     */
/* ---------------- */
.scrollableElement {
  height: 100vh;
  overflow-y: scroll;
}

.homeBackground {
  background-image: url('../public/routeviewer_home_background_v2.png');
  background-size: cover;
  display: flex;
  align-items: center;
  overflow-y: hidden !important;
}

.titleBox {
  /* padding-top: 30vh; */
  width: 100%;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.titleBoxText {
  margin-top: 0px;
  margin-bottom: 18px;
}

.loginContainer {
  /* margin-top: 30vh; */
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.loginScopeAuthText {
  width: 90%;
  margin: 10px auto;
  text-align: center;
}

.loginInputContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  flex-wrap: wrap;
}

/* .loginInputSubContainer {
  min-width: 55%;
  max-width: 300px;
} */

.loginInputLabel {
  min-width: 55%;
  max-width: 300px;
}

.loginInputLabelP {
  margin-top: 2px;
  margin-bottom: 3px;
  font-weight: 500;
}

.loginInput {
  border: 1px solid black;
  border-radius: 0px;
  min-width: 55%;
  font-size: 18px;
  /* margin: 5px; */
  padding: 5px;
  max-width: 300px;
}

.loginButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 5px;
}


.logoutContainerOld {
  position: absolute;
  top: 5px;
  right: 5px;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 2.5px 5px;
  background: white;
  cursor: pointer;
}

.logoutTextOld {
  margin: 5px 3px;
  font-size: 15px;
}

.logoutContainer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  /* border: 1px solid #000; */
  border-radius: 15px;
  padding: 5px 10px;
  background: white;
  cursor: pointer;
  z-index: 104;
}

.logoutText {
  margin: 0px;
}

.formSubmitError {
  width: 80%;
}

.formSubmitErrorText {
  text-align: center;
  color: red;
  margin-top: 0px;
  margin-bottom: 1px;
}

.loginInputError {
  width: 100%;

}

.formInputError {
  text-align: center;
  color: red;
  margin-top: 1px;
  margin-bottom: 0px;
}

.homeFloatingButton {
  position: absolute;
  top: 5px;
  right: 10px;
  border-radius: 50%;
  /* padding: 8px 20px; */
  /* height: 40px; */
  text-align: center;
  background-color: white;
  height: 50px;
  width: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:active {
    background-color: #c2c2c2;
  }
}

.homeFloatingButtonInner {
  /* height: 50px;
  width: 50px;
  padding: 10px; */
  
}

.homeButtonText {
  margin: 0px;
}

.verticalStack {
  /* width: 40px; */
  overflow-wrap: anywhere;
}

.buttonShadow {
  /* box-shadow: -3px -3px 5px 0 rgba(255, 255, 255, 0.8) inset, 3px 3px 5px 0 rgba(0, 0, 0, 0.19) inset !important; */
  /* box-shadow: 4px 4px 6px 0 #7d7d7d, -4px -4px 6px 0 #fffdf1; */
  /* box-shadow: 1px 1px 3px #7d7d7d; */
  /* box-shadow: inset 0px 0px 2px #000; */


  /* box-shadow: 5px 5px 5px black; */
  &:active {
    /* box-shadow: inset 1px 2px 3px #7d7d7d; */
  }
}

.buttonShadowFloat {
  box-shadow: 0px 0px 3px #7d7d7d;
  /* box-shadow: 1px 1px 4px #7d7d7d, inset 0px 0px 2px #000; */
  :active {
    box-shadow: none !important;
    /* color: white; */
    background-color: #c2c2c2;
  }
}

.buttonShadowFloatOptions {
  box-shadow: 0px 0px 8px 1px #1a1a1a;
}

.shadowOff {
  box-shadow: none !important;
  background-color: white;
}

  /* &:active {
    box-shadow: inset 1px 2px 3px #7d7d7d;
  } */
.buttonShadowFloat :active {
  box-shadow: none !important;
  /* color: white; */
  background-color: #c2c2c2;
}

/* ---------------- */
.mapButton {
    border: 1px solid #000;
    /* color: #9d9d9d; */
    /* border: 1px solid #c2c2c2; */
    /* background-color: #a7a7a7d1; */
    border-radius: 15px;
    padding: 5px 10px;
    display: inline-block;
    cursor: pointer;
    /* max-width: 25%; */
    max-height: 20px;

    &.right {
        float: right;
    }

    &.help {
      border: none;
    }

    &:active {
      /* color: white; */
      background-color: #c2c2c2;
    }
  }

.bottom {
  position: fixed;
  left: 5px;
  bottom: 10px;
  z-index: 102;
  background-color: white;
  /* margin-top: 3px; */
}

#genImage {
    position: absolute;
    z-index: 99;
}

#genImageBig {
  opacity: 0.0;
  z-index: 1234;
  position: absolute;
}

.emptyActivityDisplay {
  text-align: center;
  margin-top: 25vh;
}

.right {
    /* float: right; */
}

.helpText {
    padding-top: 0px;
    display: inline-block;
    max-width: 35%;
    text-align: center;
}

.helpModalContainer {

    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    z-index: 102;
    left: 0px;
    top: 15%;
}

.helpModalContent {
    text-align: center;
    max-width: 90%;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    position: relative;
    border-radius: 20px;
}

.helpModalContentMain {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.helpModalContentP {
  padding: 0px 30px;
  margin-top: 2.5px;
  margin-bottom: 0px;
}

.helpModalContentPWide {
  padding: 0px 0px;
  margin-top: 3.5px;
  margin-bottom: 0px;
}


.helpModalContentSubDiv {
  text-align: left;
  padding: 0px 5px;
}

.helpModalContentP .first{
  /* font-size: */
}

.helpModalContentPSpan {
  font-weight: bold;
}

.textOptionModalOuter {
    z-index: 101;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.7;
    top: 0;
    left: 0;

    &.top {
      z-index: 103
    }
}

.textOptionsModalContainer {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: center;
  z-index: 105;
  left: 0px;
  top: 5%;
}

.textOptionsModalContent {
  text-align: center;
  align-items: center;
  max-width: 80%;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  position: relative;
  border-radius: 20px;
}

.textOptionLabel {
  display: inline-block;
  width: 50%;
  text-align: end; 
  padding-right: 10px;
}

.textOptionLabelGrid {
  display: inline-block;
  width: 100%;
  /* text-align: end; */
  /* padding-right: 10px; */
}

.textOptionLabelGrid p {
  margin-bottom: 2px;
}

.disabledLabel {
  color: grey;
}

.textOptionInput {
  display: inline-block;
  display: flex;
  align-items: center;
  width: 50%;
}

.textOptionInputGrid {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.textOptionInputActual {
  /* margin-left: 10px; */
  width: 50px !important;
  cursor: pointer;
}

.closeModal {
    position: absolute;
    right: 8px;
    top: -10px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 15px;
    /* padding: 3px 5px; */
    padding: 5px 10px;
    cursor: pointer;
}

.closeModalHelp {
  /* display: flex; */
  padding-top: 3.5px;
  position: absolute;
  right: 8px;
  top: -10px;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 15px;
  /* padding: 4px 8px; */
  justify-content: center;
  width: 25px;
  height: 25px;
  cursor: pointer;

  &:active {
    background-color: #7d7d7d;
  }
}

.textOptionsOrderGrid {
  margin-top: 20px;
  margin-left: 7.5px;
  margin-right: 7.5px;
  margin-bottom: 5px;
}

.textOptionsOrderGridRow {
  display: flex;
  justify-content: space-between;
}

.textOptionGridItem {
  width: 33%;
  height: 100px;
  /* border: 1px solid black; */
  z-index: 101;
  touch-action: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.position1 {
    border-top: 2px solid black;
    border-left: 2px solid Black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }

  &.position2 {
    border-top: 2px solid black;
    border-left: 1px solid Black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }

  &.position3 {
    border-top: 2px solid black;
    border-left: 1px solid Black;
    border-right: 2px solid black;
    border-bottom: 1px solid black;
  }

  &.position4 {
    border-top: 1px solid black;
    border-left: 2px solid Black;
    border-right: 1px solid black;
    border-bottom: 2px solid black;
  }

  &.position5 {
    border-top: 1px solid black;
    border-left: 1px solid Black;
    border-right: 1px solid black;
    border-bottom: 2px solid black;
  }

  &.position6 {
    border-top: 1px solid black;
    border-left: 1px solid Black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }
}

.textOptionGridItem p {
  z-index: 99;
}


.dragOver {
  background-color: black;
  opacity: 0.5;
}

.selected {
    /* background-color: grey; */
}

.link {
  text-decoration: none;
  color: black;
}

.activityListItem {
  margin-top: 6px;
  /* margin-left: 5px; */
  /* margin-right: 5px; */
  margin-bottom: 6px;
  cursor: pointer;
  display: flex;
  justify-content: space-between; 
  box-shadow: 0px 1px 6px #cdcdcd;
  background-color: white;
  padding: 5px 10px 5px 10px;
  /* border-radius: 10px; */

  &:active {
    /* color: white; */
    background-color: #c2c2c2;
    box-shadow: inset 0px 0px 3px #a1a1a1;
  }
}

.activityDetail {
  /* margin-left: 5px; */
  /* margin-right: 5px; */
  /* margin-bottom: 10px; */
  /* cursor: pointer; */
  /* display: flex; */
  /* justify-content: space-between;    */
  /* position: absolute; */
  /* top: 0px; */
  /* top: 0px; */
  /* position: relative; */
}

.grayBackground {
  background-color: #dddddd;
}

.activityListItemText {
  display: inline-block;
}

.activityListMap {
  display: inline-block;
  width: 25%;
}

.ActivityListItemDetailTextContainer {
  /* margin: 5px; */
  margin-bottom: 5px;
  padding: 5px 5px 0px 5px;
  /* box-shadow: 0px 0px 5px #000; */

  box-shadow: 0px 1px 5px #afafaf;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  /* border-radius: 10px; */
  /* position: absolute; */
  /* width: 100%; */
  background-color: white;
}

.activityListItemTextBox {
    /* margin-top: 6px; */
    margin-bottom: 5px;
    padding: 6px 5px 5px 5px;
    /* margin-left: 5px;
    margin-right: 5px; */
    text-align: center;
}

.activityListButtonP {
    margin: 2.5px 0px;

    &.last {
      margin-bottom: 9px;
      padding-top: 3px;
    }

    &.name {
      font-size: 18px;
      font-weight: 500;
    }

    &.nameBig {
      font-size: 20px;
      font-weight: 600;
    }

    &.date {
      font-size: 15px;
    }

    &.distance {
      font-size: 15px;
    }
}

.spanLeft {
  width: 70%;
  display: inline-block;
  font-size: 15px;
}

.spanRight {
  width: 30%;
  display: inline-block;
  text-align: right;
}

.activityListButtonPLink {
  font-size: 12px;
  color: black;
  padding-top: 5px;
}

.activityListButtonPLink2 {
  font-size: 12px;
  color: black;
  padding-top: 5px;
  position: fixed;
  bottom: 10px;
  right: 5px;
  z-index: 1100;
}

.controlContainer {
    display: flex;
    justify-content: space-between;
}

.buttonsContainer {
  display: inline-block;
}

.buttonContainer {
  margin-top: 4px;
}

.optionsDivider {
  width: 100%;
  display: inline-block;
  /* height: 1px; */
  border: .5px solid black;
  margin-left: 11px;
  margin-right: 11px;
}

.textOptionsTitle {
  font-size: 24px;
  margin-bottom: 0px;
  margin-top: 15px;
  min-height: 10px;
  min-width: 100%;
}

.textOptionsTitle p {
  margin-bottom: 0px;
  /* text-decoration: underline; */
  font-weight: bold;
}

.shortTop {
  margin-top: 5px;
}

.slidersContainer {
    display: inline-block;
    width: 50px;
    margin: 0 auto;
}

.slidersContainerTextOption {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.sliderContainerRow {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &.bottomPadding {
    padding-bottom: 5px;
  }
}

.sliderContainerRowItem {
  width: 50%;
  text-align: center;
}

.slidersContainerTextOptionInner {
  width: 100%;
  display: flex;
  justify-content: center;
}

.slidersContainerTextOptionInnerGrid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* .slidersContainer {
  display: flex;
  /* width: 50px; */
  /* justify-content: center; */
  /* margin: 0 auto; */
/* } */

/* .sliderContainer { */
  /* display: flex; */
  /* justify-content: space-between; */
  /* max-width: 50px; */
  /* display: inline-block; */
  /* margin-left: 5px; */
  /* margin-right: 5px; */
/* } */

.sliderInputContainer {
  /* display: block; */
  /* width: 200px; */
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 24px;
    border: 1px solid black;
    border-radius: 30px;
    background: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

    &.black {
        background: black;
    }

    &.on {
      background: black;
    }

    &.disabled {
      background: grey;
    }
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 26px;
    height: 26px;
    cursor: pointer;
    background-color: white;
    border: 1px solid #000000;
    border-radius: 50%;

    &.black {
        background: black;
    }
}

.slider::-webkit-slider-thumb .white {
    background: white;
}

.slider::-webkit-slider-thumb .black {
    background: black;
}
  
.slider::-moz-range-thumb {
    width: 26px;
    height: 26px;
    cursor: pointer;
    background-color: white;
    border: 1px solid #000000;
    border-radius: 50%;

    &.black {
        background: black;
    }
}



.spinnerContainer {
    width: 100%;
    height: 100vh;
    /* min-height: 800px; */
    /* background-color: white; */
    top: 0;
    position: absolute;
    z-index: 105;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &.map {
      background-color: white;
    }

    &.home {

    }
}

.spinnerSubContainer {
  text-align: center;
}

.spinnerOptionText {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

/* ---------------- */
/* loading spinner */

.lds-spinner,
.lds-spinner div,
.lds-spinner div:after {
  box-sizing: border-box;
}
.lds-spinner {
  color: currentColor;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3.2px;
  left: 36.8px;
  width: 6.4px;
  height: 17.6px;
  border-radius: 20%;
  background: currentColor;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

